<div *ngIf="content">
  <div id="backdropContainer" class="row remove-right-padding" style="position: relative">
    <img id="backdropImage" src="{{ content.backdrop_path | backdropImage: 1280 }}" width="100%">
    <span *ngIf="content.tagline" id="tagline">{{ content.tagline }}</span>
  </div>
  <div class="row remove-right-padding justify-content-center">
    <div class="col-12 col-md-3 text-center">
      <img id="posterImage" src="{{ content.poster_path | posterImage }}">
    </div>
    <div class="col-12 col-md-6" id="metadataContainer">
      <div class="row">
        <span class="mat-headline">{{ content.original_title || content.name }}</span>
      </div>
      <div class="row" style="display: flex; align-items: center">
        <mat-icon *ngIf="content.vote_average">star</mat-icon>&nbsp;<mat-label>{{ content.vote_average }}</mat-label>&nbsp;&nbsp;
        <mat-icon *ngIf="content.revenue">attach_money</mat-icon> <mat-label>{{ content.revenue }}</mat-label>&nbsp;&nbsp;
        <mat-icon *ngIf="content.homepage">public</mat-icon>&nbsp;<a href="{{ content.homepage }}" target="_blank">Official website</a>&nbsp;&nbsp;
        <mat-icon *ngIf="content.runtime">watch_later</mat-icon> <mat-label>{{ content.runtime | toHour }}</mat-label>
      </div>
      <hr>
      <div class="row">
        <span class="mat-subheading-1">{{ content.overview }}</span>
      </div>
      <hr>
    </div>
    <div class="col-12 col-md-3" style="padding: 50px">
      <div style="margin: auto">
        <button mat-raised-button	color="#fffff" style="width: 100%; height: 50px; margin-bottom: 25px">Watch Trailer</button>
      </div>
    </div>
  </div>
  <div class="row remove-right-padding" style="position: relative">
      <mat-grid-list id="castGrid" [cols]="this.gridColumns" rowHeight="1:1" gutterSize="50px">
        <mat-grid-tile
          class="mat-elevation-z3"
          matRipple
          id="actorTile"
          *ngFor="let actor of getCurrentActors()"
          matTooltip="{{ actor.name }} as {{ actor.character }}"
          style="cursor: pointer">
          <mat-card>
            <img id="actorImage" matRipple mat-card-image src="{{ actor.profile_path | profileImage }}">
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    <button
      *ngIf="shouldDisplayArrows()"
      id="previous"
      role="button"
      mat-icon-button
      matTooltip="Navigate left"
      (click)="decrementPage()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button
      *ngIf="shouldDisplayArrows()"
      id="next"
      role="button"
      mat-icon-button
      matTooltip="Navigate right"
      (click)="incrementPage()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
