<mat-sidenav-container>
  <mat-sidenav #sideMenu [opened]="menuOpened" style="width: 70%">
    <mat-nav-list>
      <mat-list-item routerLink="/movies" routerLinkActive="mat-accent">
        <button mat-icon-button >
          <mat-icon>movie</mat-icon>
          Movies
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button routerLink="/shows" routerLinkActive="mat-accent">
          <mat-icon>tv</mat-icon>
          TV Shows
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (menuClickedEmitter)="menuOpened = true"></app-header>
    <router-outlet style="height: 100%"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

