.fill-remaining-space{
  flex: 1 1 auto;
}

#hamburgerMenu {
  display: none;
}

#showsMenu {
  display: inline;
}

#moviesMenu {
  display: inline;
}

@media screen and (max-width: 600px) {
  #hamburgerMenu {
    display: inline;
  }

  #showsMenu {
    display: none;
  }

  #moviesMenu {
    display: none;
  }
}
