<div >
  <div class="container">

    <div class="row col-12 justify-content-center" style="margin-left: 0; margin-right: 0">
      <span class="mat-display-3 header-padding">Welcome!</span>
      <span class="centered-black-text">Browse through tons of movies and tvshows</span>
      <span class="mat-display-1 centered-black-text">Developed by <a href="https://github.com/TOrnelas" target="_blank">Tiago Ornelas</a></span>
    </div>
    <div class="row justify-content-center">
      <button mat-raised-button	color="#fffff" routerLink="/movies">Movies</button>
      <button mat-stroked-button color="#fffff" routerLink="/shows">TV Shows</button>
    </div>
    <div class="row justify-content-center" style="padding: 25px">
      <span class="mat-body-strong" style="margin-top: 10px">Powered by</span> <!--todo figure out vertical center-->
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1000px-Angular_full_color_logo.svg.png">
    </div>

  </div>

</div>

